<div ng-controller="TypeCtrl">
    <ion-view view-title="Type">

        <ion-content>
            <ion-header-bar class="bar-positive">
                <h1 class="title">Type Name</h1>
                <div class="buttons">
                    <button class="button button-icon ion-compose" ng-click="openModal(1)"></button>
                </div>
            </ion-header-bar>
            <br /><br />
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">
                        Category
                    </span>
                    <select ng-model="SelectedCategory" ng-options="category as category.name for category in categories">
                        <option value="0">Select Category</option>
                    </select>
                </label>
            </div>
            <ion-list>
                <ion-item ng-repeat="type in types| filter:{ Category :  SelectedCategory.id}">
                    <div class="row">
                        <div class="col item-text-wrap">{{type.name}}</div>
                        <div class="col ">
                            <button ng-click="ShowEdit(type)" class="button button-dark ion-edit"></button>
                            <button ng-click="ShowDelete(type)" class="button button-assertive ion-trash-a"></button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">New Type</h1>
                <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">
                            Category
                        </span>
                        <select ng-model="SelectedCategory" required ng-options="category as category.name for category in categories">
                            <option value="0">Select Category</option>
                        </select>
                    </label>
                    <label for="typename">Type Name</label>
                    <input type="text" ng-model="type.name" id="typename" placeholder="Enter Type Name" value="">
                    <button class="button button-full button-positive" ng-click="createTypeName(type , SelectedCategory.id)">Create</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/deletemodal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Delete Type</h1>
                <button class="button button-clear button-primary" ng-click="closeModal(2)">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <button ng-click="deleteType()" class="button button-full button-dark">Confirm Delete</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/editmodal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Edit Type</h1>
                <button class="button button-clear button-primary" ng-click="closeModal(3)">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label title">  Category</span>
                        <select ng-model="selectedCategory" required ng-options="category as category.name for category in categories">
                            <option value="0">Select Category</option>
                        </select>
                    </label>
                    <label class="item item-input " for="typename">
                        <span class="input-label  title">Type Name</span>
                        <input type="text" ng-model="typesToEdit.name" id="typename" placeholder="Edit Category Name" value="">
                    </label>
                    <button class="button button-full button-positive" ng-click="editTypeName(selectedCategory)">Edit</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</div>